<script setup lang="ts">
import { useRouter } from "vue-router";

const router = useRouter();

defineProps<{
  modalId: string;
}>();
</script>

<template>
  <div>
    <h1>title</h1>
    <p>{{ modalId }}</p>
    <div>
      <button @click="router.push('/')">close</button>
    </div>
  </div>
</template>
